/**
 * All of the CSS for your public-facing functionality should be
 * included in this file.
 */
 .file-upload-label {
    cursor: pointer;
}
label {
    display: inline-block;
    max-width: 100%;
    margin-bottom: 5px;
    font-weight: bold;
}
.crop-hidden {
    display: none !important;
    visibility: hidden !important;
}
.user-profile-image {
    position: relative;
    width: 100%;
}
.label-main-section .upload-pic .user-profile-image img {
    width: 300px !important;
}
.user-profile-image .img-responsive {
    opacity: 1;
    display: block;
    width: 100%;
    height: auto;
    transition: .5s ease;
    backface-visibility: hidden;
}
.user-profile-image .edit-image {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    width: 15%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
}
.user-profile-image:hover .edit-image, #label-release-img:hover .view-img-hover {
    opacity: 1;
}
.btn, .text-edit-image{
  position: relative;
  display: block;
  /*margin: 30px auto;*/
  padding: 8px 7px;  
  overflow: hidden;
  border-width: 0;
  outline: none;
  border-radius: 100%;
  box-shadow: 0 1px 4px rgba(0, 0, 0, .6);  
  background-color: #6c757d;
  color: #ecf0f1;  
  transition: background-color .3s;
}
.btn:hover, .btn:focus, .text-edit-image:hover, .text-edit-image:focus {
  background-color: #6c757d;
}
.btn > * , .text-edit-image > *{
  position: relative;
}
.btn:before, .text-edit-image:before {
  content: "";  
  position: absolute;
  top: 50%;
  left: 50%;  
  display: block;
  width: 0;
  padding-top: 0;    
  border-radius: 100%;  
  background-color: rgba(236, 240, 241, .3);  
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
.btn:active:before, .text-edit-image:active:before {
  width: 120%;
  padding-top: 120%;  
  transition: width .2s ease-out, padding-top .2s ease-out;
}
.crop{
    text-align: center;
}
